﻿@using TwitterAPI
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tweet finder</h1>
    <p class="lead">An easy way to find some tweets.</p>
</div>

<form action="search" method="get" onsubmit="">
    <input type="text" name="item" required placeholder="Search for tweets"/>
    <input type="submit" value="Search"/>
</form>
