﻿@model IEnumerable<TwitterApplication.ViewModel.TweetViewModel>

@{
    ViewBag.Title = "Search Page";
}

<h2>Tweets</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Tweet
        </th>
        <th>
            Created By
        </th>
        <th>
            hashtag
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created_At)
        </td>
   
        <td>
            @Html.DisplayTextFor(modelItem => item.Text)
            @foreach(var image in item.Images)
            {
                <img  width="500"  src="@Html.DisplayFor(modelItem => image)"/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @foreach (var hashtag in item.Hashtag)
            {
                <text>#</text>@Html.DisplayFor(modelItem => hashtag) @: <text> </text>
            }
        </td>
    </tr>
}

</table>
